/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


:root {
    
    /** 
    colors
    */
    
    /* gradient */
    
    --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
    );
    --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
    ), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
    );
    --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
    ), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
    );
    --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
    );
    
    /* solid */
    
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
    
    /* retro computer & terminal palette */
    --retro-computer-green: hsl(120, 100%, 50%);
    --retro-warm-amber: hsl(30, 100%, 40%);
    --retro-dark-gray: hsl(0, 0%, 15%);
    --retro-old-beige: hsl(60, 40%, 75%);
    --retro-muted-gray: hsl(0, 3%, 42%);
    --retro-musty-brown: hsl(25, 50%, 30%);
    --retro-dark-charcoal: hsl(0, 0%, 20%);
    --retro-soft-black: hsl(0, 0%, 10%);
    --retro-dark-cyan: hsl(180, 74%, 21%);
    --retro-olive-green: hsl(93, 17%, 24%);
    
    /* avatar color palette */
    --sky-blue: hsl(203, 51%, 62%);
    --bright-blue: hsl(188, 76%, 67%);
    --faded-green: hsl(180, 17%, 57%);
    --soft-purple: hsl(248, 81%, 73%);
    
    --soft-peach: hsl(17, 82%, 85%);
    --near-black: hsl(225, 12%, 7%);
    --muted-brown: hsl(18, 14%, 47%);
    --light-sky-blue: hsl(198, 66%, 79%);
    --muted-rose: hsl(348, 37%, 58%);
    --deep-teal: hsl(188, 39%, 33%);

    /* affiliations & webrings palette */
    --hackNY-red: hsl(358, 79%, 51%);
    --recurse-center-green: hsl(93, 66%, 41%);
    
    
    
    /**
    * typography
    */
    
    /* font-family */
    --ff-poppins: 'Poppins', sans-serif;
    
    /* font-size */
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
    
    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    
    /**
    * shadow
    */
    
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
    
    /**
    * transition
    */
    
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
    
}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: var(--bright-blue);
    color: var(--smoky-black);
}

:focus { outline-color: var(--bright-blue); }

html { font-family: var(--ff-poppins); }

.theme-1 {
    --color-1: var(--faded-green);
    --color-2: var(--light-sky-blue);
}

.theme-2 {
    --color-1: var(--faded-green);
    --color-2: var(--faded-green);
}

.theme-3 {
    --color-1: var(--muted-rose);
    --color-2: var(--soft-peach);
}

.theme-4 {
    --color-1: var(--soft-peach);
    --color-2: var(--soft-peach);
}

.theme-5 {
    --color-1: var(--deep-teal);
    --color-2: var(--muted-brown);
}

.theme-6 {
    --color-1: var(--muted-brown);
    --color-2: var(--muted-brown);
}

.theme-7 {
    --color-1: var(--soft-purple);
    --color-2: var(--sky-blue);
}

.theme-8 {
    --color-1: var(--sky-blue);
    --color-2: var(--sky-blue);
}

body {
    background: repeating-linear-gradient(
    45deg,  /* Angle of stripes */
    var(--color-1), 
    var(--color-1) 40px,
    var(--color-2) 40px,
    var(--color-2) 80px 
    );
    transition: background 0.5s ease-in-out;
    background-attachment: fixed;
}

.color-toggle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

#color-scheme-toggle {
    position: relative;
    text-align: center; 
    color: var(--white-1);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    font-family: monospace;
    padding: 10px 15px;
    border: 1px solid var(--jet);
    outline: 1px solid var(--white-1);
    border-radius: 8px;
    text-shadow: 
    -1px -1px 1px rgba(0, 0, 0, 0.9),  
    1px -1px 1px rgba(0, 0, 0, 0.9),  
    -1px 1px 1px rgba(0, 0, 0, 0.9),  
    1px 1px 1px rgba(0, 0, 0, 0.9);
    
    transition: background 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

#color-scheme-toggle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
    45deg, 
    var(--color-1), 
    var(--color-1) 20px, 
    var(--color-2) 20px, 
    var(--color-2) 40px
    );
    opacity: 0.8; 
    z-index: -1; 
    border-radius: 7px;
}

#color-scheme-toggle:hover {
    transform: scale(1.07);
    cursor: pointer;
}


@media screen and (max-width: 1366px) {
    #color-scheme-toggle {
        font-size: var(--fs-6);
        width: 100%;
        background: repeating-linear-gradient(
        45deg, 
        var(--color-1), 
        var(--color-1) 20px, 
        var(--color-2) 20px, 
        var(--color-2) 40px
        );
    }
    #color-scheme-toggle:hover {
        transform: none;
    }
    
    #color-scheme-toggle::before {
        display: none; /* Removes pseudo-element background on mobile */
    }
    
    .info-content .name {
        font-size: var(--fs-1) !important;
    }
    .info-content .title {
        font-size: var(--fs-7) !important;
    }
    
    .navbar-link {
        font-size: var(--fs-5) !important;
    }
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.sidebar,
article {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
}

.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: 0px 0px 5px var(--faded-green);
    z-index: 1;
}

.icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 35px; }

article { display: none; }

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
    color: var(--white-2);
    text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}

.article-title {
    position: relative;
    padding-bottom: 7px;
}

.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--soft-purple);
    border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbar */
    height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
    background: var(--onyx);
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bright-blue);
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

.content-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
}

.content-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}





/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}





/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
    margin-bottom: 15px;
    max-height: 112px;
    overflow: hidden;
    transition: var(--transition-2);
}

.sidebar.active { max-height: 500px; }

.sidebar-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.info-content .name {
    color: var(--white-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .title {
    color: var(--white-1);
    background: var(--onyx);
    font-size: var(--fs-8);
    font-weight: var(--fw-300);
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px var(--soft-peach);
}

.info_more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: var(--bright-blue);
    background: var(--border-gradient-onyx);
    padding: 10px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
}

.info_more-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition-1);
    z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus { background: var(--bg-gradient-yellow-1); }

.info_more-btn:hover::before,
.info_more-btn:focus::before { background: var(--bg-gradient-yellow-2); }

.info_more-btn span { display: none; }

.sidebar-info_more {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
    opacity: 1;
    visibility: visible;
}

.contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
}

.contact-title {
    color: var(--light-sky-blue);
    font-size: var(--fs-8);
    text-transform: uppercase;
    margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
    color: var(--white-2);
    font-size: var(--fs-7);
}

.contact-info address { font-style: normal; }





/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--jet);
    border-radius: 12px 12px 0 0;
    box-shadow: var(--shadow-2);
    z-index: 5;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.navbar-link {
    color: var(--light-gray);
    font-size: var(--fs-8);
    padding: 20px 7px;
    transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus { color: var(--light-gray-70); }

.navbar-link.active { color: var(--bright-blue); }





/*-----------------------------------*\
#ABOUT
\*-----------------------------------*/

.about .article-title { margin-bottom: 15px; }


/* Nebula effect */
.nebula-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
    opacity: 0.3;
    border-radius: 75%;
    margin-bottom: 0px;
    overflow: hidden;  
    z-index: -1;  
}

.nebula-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;  /* Prevent it from interfering with other elements */
}


/* Computer terminal effect */
.computer-container {
    max-width: 95%;
    height: 60vh; /* Use 60% of viewport height */
    display: flex;
    flex-direction: column;
    border-radius: 24px 24px 0 0;
    margin: 30px auto; /* Center container horizontally */
    z-index: 1;
}

.screen-container {
    flex: 0 0 85%;
    border-radius: 20px 20px 0 0;
    background: var(--retro-olive-green);
    padding: 10px;
}

.screen-outline {
    height: 100%;
    background-color: var(--retro-dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px;
}

.screen {
    position: relative;
    background-color: var(--retro-soft-black);
    height: 90%;
    width: 90%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 230px / 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensures padding included in element size */
    overflow: hidden; /* Prevents text from spilling out */
    z-index: 1;
}

.computer-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--retro-dark-charcoal);
    border-radius: 0 0 24px 24px;
    padding: 20px 30px;
}

.computer-body-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.computer-features {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.computer-slot {
    height: 12px;
    width: 200px;
    background-color: var(--retro-soft-black);
    border-radius: 3px;
    position: relative;
}

.computer-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--retro-soft-black);
    margin-left: 80px; /* Adds space between slots & button */
}

.terminal {
    height: 250px;
    flex: 0 0 95%;
    padding-left: 30px;
    padding-right: 50px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;
}

.terminal::-webkit-scrollbar {
    width: 6px;
}
.terminal::-webkit-scrollbar-track {
    display: none;
}
.terminal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--retro-computer-green);
}

.about-text {
    color: var(--retro-computer-green);
    text-shadow: 1px 1px 3px var(--faded-green);
    font-family: monospace;
    font-size: var(--fs-4);
    font-weight: var(--fw-300);
    line-height: 1.7;
    margin: -30px 0;
    
    display: inline-block; /* Prevents weird cursor placement */
    white-space: pre-wrap; 
    overflow: hidden;
    z-index: 1;
}

.cursor {
    display: inline-block;
    font-weight: bold;
    font-size: var(--fs-4);
    color: var(--retro-computer-green); 
    line-height: 1.7; 
}

.blink {
    animation: blink-animation 0.8s infinite alternate;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@media (max-width: 768px) and (min-height: 800px) {
    .computer-container {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .computer-body {
        flex: 0;
    }
    
    .computer-slot {
        height: 8px;
        width: 100px; 
    }
    
    .computer-button {
        width: 20px; 
        height: 20px;
        margin-left: 0;
    }
    
    .terminal {
        padding: 0 10px;
    }
    
    .about-text {
        margin: -40px 0;
    }
}







/**
* #service 
*/

.service { margin-bottom: 35px; }

.service-title { margin-bottom: 20px; }

.service-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.service-item {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px var(--faded-green);
    z-index: 1;
}

.service-item::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

.service-icon-box { margin-bottom: 10px; }

.service-icon-box img { margin: auto; }

.service-content-box { text-align: center; }

.service-item-title { margin-bottom: 7px; }

.service-item-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-3);
    line-height: 1.6;
}


/**
* #affiliations 
*/

.affiliations { margin-bottom: 15px; }

.affiliations-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 0 -15px;
    padding: 25px;
    padding-bottom: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 25px;
}

.affiliations-item {
    min-width: 50%;
    scroll-snap-align: start;
}

.affiliations-item img {
    width: 100%;
    filter: grayscale(1);
    transition: var(--transition-1);
}

.affiliations-item img:hover { filter: grayscale(0); }





/*-----------------------------------*\
  #TIMELINE
\*-----------------------------------*/

.article-title { margin-bottom: 30px; }


/**
* education and experience 
*/

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.timeline-list {
    font-size: var(--fs-6);
    margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-list span {
    color: var(--soft-peach);
    font-weight: var(--fw-400);
    line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background: var(--jet);
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 6px;
    background: var(--faded-green);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}




/*-----------------------------------*\
  #PROJECTS
\*-----------------------------------*/

.filter-list { display: none; }

.filter-select-box {
    position: relative;
    margin-bottom: 25px;
}

.filter-select {
    background: var(--eerie-black-2);
    color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
}

.filter-select.active .select-icon { transform: rotate(0.5turn); }

.select-list {
    background: var(--eerie-black-2);
    position: absolute;
    top: calc(100% + 6px);
    width: 100%;
    padding: 6px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.15s ease-in-out;
}

.filter-select.active + .select-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.select-item button {
    background: var(--eerie-black-2);
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    text-transform: capitalize;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
}

.select-item button:hover { --eerie-black-2: hsl(240, 2%, 20%); }

.project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 10px;
    align-items: center;
}

.project-item { display: none; }

.project-item.active {
    display: block;
    animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

.project-item > a { width: 100%; }

.project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(97, 173, 255, 0.6); /* sky-blue reduced opacity */
}

.project-img:hover {
    box-shadow: 0px 0px 30px rgba(173, 127, 255, 0.9); /* soft-purple reduced opacity */
}

.project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition-1);
}

.project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.5); }

.project-item-icon-box {
    --scale: 0.8;
    
    background: var(--jet);
    color: var(--bright-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    font-size: 20px;
    padding: 18px;
    border-radius: 12px;
    opacity: 0;
    z-index: 1;
    transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
    --scale: 1;
    opacity: 1;
}

.project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: var(--transition-1);
    aspect-ratio: 1; /* force images into square shape (crop) */
}

.project-item > a:hover img { transform: scale(1.1); }

.project-title,
.project-category { margin-left: 10px; }

.project-title {
    color: var(--white-2);
    font-size: var(--fs-5);
    font-weight: var(--fw-400);
    text-transform: capitalize;
    line-height: 1.3;
}

.project-category {
    color: var(--light-gray-70);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
}





/*-----------------------------------*\
  #PLACES
\*-----------------------------------*/

.globe-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid var(--jet);
    overflow: hidden;
}

.globe figure {
    width: 100%;
    height: 100%;
}

.globe canvas {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly visible */
    display: block;
}


.places-post-item {
    position: relative;
}

.card-content {
    background: var(--eerie-black-1);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.card-content:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.timeline-container {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin-top: -10px;
}

.timeline-container.open {
    max-height: 1500px; /* Adjust based on content */
    padding: 10px;
}

.timeline {
    background: var(--eerie-black-1);
    padding: 10px;
}

.timeline-section {
    padding-top: 25px; /* Space between sections */
}

.timeline-section h3 {
    color: var(--muted-rose);
    text-transform: none;
    font-size: var(--fs-4);
    font-family: monospace;
}

.timeline-section h4 {
    text-transform: none;
    font-size: var(--fs-5);
    font-family: monospace;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.icon-box {
    width: 30px;
    height: 30px;
}

.places-posts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.places-post-item > a {
    position: relative;
    background: var(--border-gradient-onyx);
    height: 100%;
    box-shadow: var(--shadow-4);
    border-radius: 16px;
    z-index: 1;
}

.places-post-item > a::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--eerie-black-1);
    z-index: -1;
}

.places-banner-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    justify-content: center; /* Horizontally center the title */
    align-items: center; /* Vertically center the title */
    display: flex;
    
    border: 12px solid var(--jet);
    border-radius: 25px;
}

.places-banner-box img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.places-post-item > a:hover .places-banner-box img {
    transform: scale(1.1);
}

.places-content {
    padding: 15px;
    border: 12px solid var(--light-sky-blue);
    border-radius: 25px;
}

.places-item-title {
    text-align: center;
    line-height: 1.3;
    transition: var(--transition-1);
    
    padding: 15px 15px;
    font-size: var(--fs-1) !important;
    font-family: var(--ff-poppins) !important;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9) !important;
    
    opacity: 1;
    z-index: 1;
    position: absolute;
}

/* On hover, show image at reduced opacity */
.card-content:hover .places-banner-box img {
    opacity: 0.4; 
}

.card-content.clicked .places-banner-box img {
    opacity: 0.4; 
}

.card-content:hover .places-item-title {
    transform: scale(1.2);
}

.card-content.clicked .places-item-title {
    transform: scale(1.2);
}

.places-post-item > a:hover .places-item-title {
    color: var(--bright-blue);
}

.places-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}





/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact-form { margin-bottom: 10px; }

.form-title { margin-bottom: 20px; }

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 25px;
}

.form-input {
    color: var(--white-2);
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
    padding: 13px 20px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
}

.form-input::placeholder { font-weight: var(--fw-500); }

.form-input:focus { border-color: var(--bright-blue); }

textarea.form-input {
    min-height: 100px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
    margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: var(--bittersweet-shimmer); }

.form-btn {
    position: relative;
    width: 100%;
    background: var(--border-gradient-onyx);
    color: var(--bright-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    border-radius: 14px;
    font-size: var(--fs-6);
    text-transform: capitalize;
    box-shadow: var(--shadow-3);
    z-index: 1;
    transition: var(--transition-1);
}

.form-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
    transition: var(--transition-1);
}

.form-btn ion-icon { font-size: 16px; }

.form-btn:hover { background: var(--bg-gradient-yellow-1); }

.form-btn:hover::before { background: var(--bg-gradient-yellow-2); }

.form-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.form-btn:disabled:hover { background: var(--border-gradient-onyx); }

.form-btn:disabled:hover::before { background: var(--bg-gradient-jet); }





/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
* responsive larger than 450px screen
*/

@media (min-width: 450px) {
    
    /**
    * client
    */
    
    .affiliations-item { min-width: calc(33.33% - 10px); }
    
    
    
    /**
    * #PORTFOLIO, PLACES 
    */
    
    .project-img,
    .places-banner-box { height: auto; }
    
}





/**
* responsive larger than 580px screen
*/

@media (min-width: 580px) {
    
    /**
    * PROPERTIES
    */
    
    :root {
        
        /**
        * typography
        */
        
        --fs-1: 32px;
        --fs-2: 24px;
        --fs-3: 26px;
        --fs-4: 18px;
        --fs-6: 15px;
        --fs-7: 15px;
        --fs-8: 12px;
        
    }
    
    
    
    /**
    * #REUSED STYLE
    */
    
    .sidebar, article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }
    
    .article-title {
        font-weight: var(--fw-600);
        padding-bottom: 15px;
    }
    
    .article-title::after {
        width: 40px;
        height: 5px;
    }
    
    .icon-box {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        font-size: 18px;
    }
    
    
    
    /**
    * #MAIN
    */
    
    main {
        margin-top: 60px;
        margin-bottom: 100px;
    }
    
    
    
    /**
    * #SIDEBAR
    */
    
    .sidebar {
        max-height: 180px;
        margin-bottom: 30px;
    }
    
    .sidebar.active { max-height: 584px; }
    
    .sidebar-info { gap: 25px; }
    
    .avatar-box { border-radius: 30px; }
    
    .avatar-box img { width: 120px; }
    
    .info-content .name { margin-bottom: 15px; }
    
    .info-content .title { 
        padding: 5px 18px; 
        color: var(--muted-rose);
        font-family: monospace;
    }
    
    .info_more-btn {
        top: -30px;
        right: -30px;
        padding: 10px 15px;
    }
    
    .info_more-btn span {
        display: block;
        font-size: var(--fs-8);
    }
    
    .info_more-btn ion-icon { display: none; }
    
    .separator { margin: 32px 0; }
    
    .contacts-list { gap: 20px; }
    
    .contact-info {
        max-width: calc(100% - 64px);
        width: calc(100% - 64px);
    }
    
    
    
    /**
    * #NAVBAR
    */
    
    .navbar { border-radius: 20px 20px 0 0; }
    
    .navbar-list { gap: 20px; }
    
    .navbar-link { --fs-8: 14px; }
    
    
    
    /**
    * #ABOUT
    */
    
    .about .article-title { margin-bottom: 20px; }
    
    .about-text { margin-bottom: 40px; }
    
    /* service */
    
    .service-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        padding: 30px;
    }
    
    .service-icon-box {
        margin-bottom: 0;
        margin-top: 5px;
    }
    
    .service-content-box { text-align: left; }
    
    .content-card {
        padding: 30px;
        padding-top: 25px;
    }
    
    /* affiliations */
    
    .affiliations-list {
        gap: 50px;
        margin: 0 -30px;
        padding: 45px;
        scroll-padding-inline: 45px;
    }
    
    .affiliations-item { min-width: calc(33.33% - 35px); }
    
    
    
    /**
    * #TIMELINE
    */
    
    .timeline-list { margin-left: 65px; }
    
    .timeline-item:not(:last-child)::before { left: -40px; }
    
    .timeline-item::after {
        height: 8px;
        width: 8px;
        left: -43px;
    }
    
    
    /**
    * #PORTFOLIO, PLACES
    */
    
    .project-img, .places-banner-box { border-radius: 16px; }
    
    .places-posts-list { gap: 30px; }
    
    .places-content { padding: 25px; }
    
    
    
    /**
    * #CONTACT
    */
    
    .input-wrapper {
        gap: 30px;
        margin-bottom: 30px;
    }
    
    .form-input { padding: 15px 20px; }
    
    textarea.form-input { margin-bottom: 30px; }
    
    .form-btn {
        --fs-6: 16px;
        padding: 16px 20px;
    }
    
    .form-btn ion-icon { font-size: 18px; }
    
}





/**
* responsive larger than 768px screen
*/

@media (min-width: 768px) {
    
    /**
    * REUSED STYLE
    */
    
    .sidebar, article { width: 700px; }
    
    .has-scrollbar::-webkit-scrollbar-button { width: 100px; }
    
    #color-scheme-toggle {
        width: max-content;
    }
    
    
    
    /**
    * SIDEBAR
    */
    
    .contacts-list {
        grid-template-columns: 1fr 1fr;
        gap: 30px 15px;
    }
    
    
    
    /**
    * NAVBAR
    */
    
    .navbar-link { --fs-8: 15px; }
    
    
    
    /**
    * PORTFOLIO
    */
    
    .article-title { padding-bottom: 20px; }
    
    .filter-select-box { display: none; }
    
    .filter-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        padding-left: 5px;
        margin-bottom: 30px;
    }
    
    .filter-item button {
        color: var(--light-gray);
        font-size: var(--fs-5);
        transition: var(--transition-1);
    }
    
    .filter-item button:hover { color: var(--light-gray-70); }
    
    .filter-item button.active { color: var(--bright-blue); }
    
    /* projects and places grid */
    
    .project-list, .places-posts-list { grid-template-columns: 1fr 1fr; }
    
    
    
    /**
    * CONTACT
    */
    
    .input-wrapper { grid-template-columns: 1fr 1fr; }
    
    .form-btn {
        width: max-content;
        margin-left: auto;
    }
    
}





/**
* responsive larger than 1024px screen
*/

@media (min-width: 1024px) {
    
    /**
    * CUSTOM PROPERTY
    */
    
    :root {
        
        /**
        * shadow
        */
        
        --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
        --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
        --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
        
    }
    
    
    
    /**
    * REUSED STYLE
    */
    
    .sidebar, article {
        width: 950px;
        box-shadow: var(--shadow-5);
    }
    
    
    
    /**
    * MAIN 
    */
    
    main { margin-bottom: 60px; }
    
    .main-content {
        position: relative;
        width: max-content;
        margin: auto;
    }
    
    
    
    /**
    * NAVBAR
    */
    
    .navbar {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        padding: 0 20px;
        box-shadow: none;
    }
    
    .navbar-list {
        gap: 30px;
        padding: 0 20px;
    }
    
    .navbar-link { font-weight: var(--fw-500); }
    
    
    
    /**
    * ABOUT
    */
    
    /* service */
    
    .service-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px 25px;
    }
    
    /* affiliations */
    
    .affiliations-item { min-width: calc(25% - 38px); }
    
    
    
    /**
    * PORTFOLIO
    */
    
    .project-list { grid-template-columns: repeat(3, 1fr); }
    
    
    
    /**
    * PLACES
    */
    
    .places-banner-box { height: 150px; }
    
}





/**
* responsive larger than 1250px screen
*/

@media (min-width: 1250px) {
    
    /**
    * RESET
    */
    
    body::-webkit-scrollbar { width: 20px; }
    
    body::-webkit-scrollbar-track { background: var(--smoky-black); }
    
    body::-webkit-scrollbar-thumb {
        border: 5px solid var(--smoky-black);
        background: hsla(0, 0%, 100%, 0.1);
        border-radius: 20px;
        box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
        inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
    }
    
    body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }
    
    body::-webkit-scrollbar-button { height: 60px; }
    
    
    
    /**
    * REUSED STYLE
    */
    
    .sidebar, article { width: auto; }
    
    article { min-height: 100%; }
    
    
    
    /**
    * MAIN
    */
    
    main {
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 25px;
    }
    
    .main-content {
        min-width: 75%;
        width: 75%;
        margin: 0;
    }
    
    
    
    /**
    * SIDEBAR
    */
    
    .sidebar {
        position: sticky;
        top: 60px;
        max-height: max-content;
        height: 100%;
        margin-bottom: 0;
        padding-top: 60px;
        z-index: 1;
    }
    
    .sidebar-info { flex-direction: column; }
    
    .avatar-box img { width: 150px; }
    
    .info-content .name {
        white-space: nowrap;
        text-align: center;
    }
    
    .info-content .title { margin: auto; }
    
    .info_more-btn { display: none; }
    
    .sidebar-info_more {
        opacity: 1;
        visibility: visible;
    }
    
    .contacts-list { grid-template-columns: 1fr; }
    
    .contact-info :is(.contact-link) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .contact-info :is(.contact-link, time, address) {
        --fs-7: 14px;
        font-weight: var(--fw-300);
    }
    
    .separator:last-of-type {
        margin: 15px 0;
        opacity: 0;
    }
    
    
    
    /**
    * TIMELINE
    */
    
    .timeline-text { max-width: 700px; }
    
}


